@import url(//db.onlinewebfonts.com/c/6aa06a9a432b8417171f60d8351aa310?family=Torus+Notched);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --blue-color: #31489f;
  --black-background: #232323;
  --light-blue: #66aefc;
}


*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,button{
  font-family: "Torus Notched";
}

body{
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}


/* ---- HEADER ---- */
header{
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
 
}



header .container{
  width: 1550px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .container ul{
  display: flex;
}

header .container ul a{
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 30px;
  color: #2A2A2A;
  transition: .3s;
}

header .container ul a:hover{
  color: #66aefc;
}

@media screen and (max-width: 1550px) {
  header{
    background-color: #66aefc;
    position: relative;
    
  }
  header .container{
    width: 100%;
  }


  
header .container ul a{
  color: #fff;
  transition: .3s;
}

header .container ul a:hover{
  border: 3px solid #fff;
  color: #fff;
  
}
}

@media screen and (max-width: 750px) {
  header .container{
    justify-content: center;
  }

  header .logo{
    display: none;
  }

  header .container ul a{
    margin: 0 10px;

  }
}

/* ---- PUCE ---- */
.onglet-side{
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  z-index: 9999;
}

.onglet-side a{
  width: 15px;
  height: 15px;
  margin: 5px 0;
  background-color: white;
  border: 3px solid var(--blue-color);
  border-radius: 50px;
}

.onglet-side a.active{

  background-color: var(--blue-color);

}

@media (max-width:1200px) {
  .onglet-side{
    display: none;
  }
}

/* ---- SECTION 1 ---- */

@media (min-width: 1550px){
  .sec1{
    height: 100vh;
    background-image: url(img/13.png);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .bg-responsive{
    display: none;
  }
}


.sec1 .container{
  width: 1550px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec1 .container h1{
  color: #31489f;
  font-size: 8em;
  margin-bottom: 70px;
}


.sec1 button{
  position: relative;
  height: 70px;
  width: 250px;
  border-radius: 50px;
  border: 3px solid #31489f;
  background-color: #fff;
  font-size: 1.5em;
  color: #31489f;
  transition: .3s ease-in-out;
  z-index: 2;
  overflow: hidden;
}

.sec1 button:hover{
  color: #fff;
  width: 280px;
}

.sec1 button::before{
  content: "";
  position: absolute;
  height: 70px;
  width: 290px;
  border-radius: 50px;
  background-color: #31489f;
  top: -2px;
  left: -2px;
  transform: translate(-100%);
  transition: .3s ease-in-out;
  z-index: -1;
}

.sec1 button:hover::before,
.sec4 button:hover::before{
  transform: translate(0%);
}



.sec1 button i{
  transform: scale(0);
  margin: -10px;
  transition: .3s;
}

.sec1 button:hover i{
  transform: scale(1);
  margin-left: 10px;
}


@media screen and (max-width: 1550px) {
  .sec1{
    height: 100%;
    margin-top: 100px;
    padding-bottom: 150px;
  }
  
  .sec1 .container{
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .sec1 .bg-responsive{
    margin-top: 50px;
  }

  .sec1 .bg-responsive img{
    width: 600px;
  }
}

@media screen and (max-width: 950px) {
  .sec1 .container h1{
    font-size: 6em;
    margin-bottom: 60px;
  }
  
}

@media screen and (max-width: 700px) {

  .sec1 .bg-responsive img{
    width: 80%;
  }

  .sec1 .container h1{
    font-size: 4em;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 500px) {


  .sec1 .container h1{
    font-size: 3em;

  }
}

/* ---- TRANSITION ---- */
.transition{
  position: absolute;
  width: 100%;
  transform: translateY(-30%);

}

.transition img{
  width: 100%;
  filter: drop-shadow(0px 10px 10px #acc4e8);
}



/* ---- SECTION 2 ---- */
.sec2{
  background-color: #232323;
  padding-top: 100px 0;
  z-index: 2;
  position: relative;
}

.sec2 .container{
  width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sec2 .title{
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3em;
  margin-bottom: 100px;
}

.sec2 .title::before{
  content: "";
  position: absolute;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  background: linear-gradient(80deg, rgba(173,255,251,1) 0%, rgba(0,134,255,1) 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 35%, 64% 100%, 48% 35%, 31% 100%, 16% 35%, 0 80%);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}



.sec2 .titre{
  display: flex;
  align-items: center;
}

.sec2 .point{
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background-color: var(--blue-color);
  border-radius: 50px;
  border: 3px solid white;
}

.sec2 .separateur{
  width: 75px;
  height: 7px;
  background: linear-gradient(80deg, rgba(173,255,251,1) 0%, rgba(0,134,255,1) 100%);
  border-radius: 0 50px 50px 0;
  margin: 25px 0;
}

.sec2 .left h2{
  font-size: 2.5em;
}

.sec2 p {
  max-width: 600px;
  line-break: anywhere;
}

.content{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-around;
}

@media (min-width: 1500px){
  .sec2 .content-top .left{
    max-width: 700px;
  }
  .sec2 .content-bottom .right{
    max-width: 700px;
  }
}


@media screen and (max-width: 1500px) {
  .sec2 .content-top{
    flex-direction: column;
    margin-bottom: 100px;
  }

  .sec2 .content-top .left{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec2 .content-bottom .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .sec2 .content-bottom{
    flex-direction: column-reverse
  }

  .sec2 .container{
    width: 100%;
    text-align: center;
  }

  .sec2 .separateur{
    border-radius: 50px;
  }

  .sec2 .titre{
    justify-content: center;
    flex-direction: column;
  }
  .sec2 p{
    width: 900px;
    margin: 0 50px;
  }

  .sec2 .point{
    margin-right: 0;
  }

  .sec2 .content img{
    width: 90%;
  }
}


/* ---- SECTION 3 ---- */
.sec3{
  height: 1080px;
  background-image: url(svg/1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: center; 
  filter: drop-shadow(5px 5px 10px #000);
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.sec3 .container{
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sec3 h1{
  color: #fff;
  font-size: 4em;
}

.sec3 p{
  color: #fff;
  max-width: 550px;
  line-break: anywhere;
  margin-bottom: 50px;
}

.sec3 .separateur{
  width: 150px;
  height: 7px;
  background: linear-gradient(80deg, rgba(173,255,251,1) 0%, rgba(0,134,255,1) 100%);
  border-radius: 0 50px 50px 0;
  margin: 40px 0;
}


.sec3 button,
.sec4 button{
  position: relative;
  height: 60px;
  width: 220px;
  border-radius: 50px;
  border: 3px solid white;
  background-color: transparent;
  font-size: 1.5em;
  color: #fff;
  transition: .3s ease-in-out;
  z-index: 2;
  overflow: hidden;
}

.sec3 button:hover,
.sec4 button:hover{
  color: var(--blue-color);
  width: 280px;
}

.sec3 button::before,
.sec4 button::before{
  content: "";
  position: absolute;
  height: 70px;
  width: 290px;
  border-radius: 50px;
  background-color: #fff;
  top: -2px;
  left: -2px;
  transform: translate(-100%);
  transition: .3s ease-in-out;
  z-index: -1;
}

.sec3 button:hover::before{
  transform: translate(0%);
}



.sec3 button i,
.sec4 button i{
  transform: scale(0);
  margin: -10px;
  transition: .3s;
}

.sec3 button:hover i,
.sec4 button:hover i{
  transform: scale(1);
  margin-left: 10px;
}

.sec3 .right img{
width: 100%;
}

@media (max-width: 1500px){
  .sec3 .right img{
      max-width: 450px;
    }
}


@media (max-width: 1050px){
  .sec3{
    background-color: var(--black-background);
  }
  
  .sec3 .container{
    flex-direction: column;
    text-align: center;
  }

  .sec3 .left{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .sec3 h1{
    font-size: 3em;
  }

  .sec3 .separateur{
    border-radius: 50px;
  }

  .sec3 p{
    margin: 0 20px;
    
  }

  .sec3 button{
    margin: 50px 0;
  }

  .sec3 .right img{
    width: 80%;
    align-items: center;
  }
}



/* ---- SECTION 4 ---- */
.sec4{
  position: relative;
  height: 750px;
  background-image: url(svg/2.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  z-index: 2;
  filter: drop-shadow(3px 5px 4px #232323);
  top: -2px;
}

.sec4 .content{
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.sec4 .left img{
  margin: 0 25px 0 50px;
}

.sec4 .mid h1{
  font-size: 3em;
  color: #fff;
}

.sec4 .mid H2{
  font-size: 2em;
  color: #fff;
}



.sec4 .mid p{
  max-width: 400px;
  color: #fff;
  margin: 50px 0;
}


@media (max-width:1650px){
  .sec4 .right{
    display: none;
  }
}

@media (max-width:1250px){
  .sec4{
    filter: none;
  }
  .sec4 .content{
    flex-direction: column-reverse;
    justify-content: center;
  }

  .sec4 .left {
    margin: 0;
  }

  .sec4 .left img{
    width: 350px;
  }

  .sec4 .mid{
    text-align: center;
    margin-bottom: 25px;
    width: 90%;
    line-break: anywhere;
  }

  .sec4 .mid p{
    margin: 50px auto;
    max-width: 550px;
  }

  .sec4 .mid h1,
  .sec4 .mid h2,
  .sec4 .mid p{
    color: var(--light-blue);
    
  }

  .sec4 .mid button{
    border: 3px solid var(--light-blue);
    color: var(--light-blue);
  }

  .sec4 .mid button::before{
    background-color: var(--light-blue);
  }

  .sec4 button:hover{
    color: white;
  }

  .sec4 img{
    filter: drop-shadow(3px 5px 4px #232323);
  }
}